.progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: white;
  background: #222 linear-gradient(to right, transparent 50%, var(--clr) 0);

  /* background: #444 linear-gradient(to right, transparent 50%, red 0); */
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.23));
}

.progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.progress h4 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.progress::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
  background-color: var(--clr);
  transition: 0.5s ease-in;
}

.progress::after {
  content: "";
  position: absolute;
  inset: 20px;
  border-radius: 50%;
  background-color: #383838;
  filter: drop-shadow(4px 4px 8px rgba(#000, 1));
}

.progress.show::before {
  background-color: var(--clr);
  transform: rotate(calc((var(--i) - 50) * 0.01turn));
}

.progress.less.show::before {
  background-color: #222;
  transform: rotate(calc((var(--i) - 0) * 0.01turn));
}

.tracker-container {
  position: absolute;
  transition: 0.5s ease-in;

  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  z-index: 1;
  .tracker {
    transform: translate(40%, 40%);
    width: 30px;
    height: 30px;
    background-color: var(--clr);
    border-radius: 50%;
    border: 2px solid white;
    z-index: 4;
  }
}

.progress.show .tracker-container {
  // transform: rotate(calc((var(--i) + 115) * 0.01turn));
  transform: rotate(calc((var(--i) + 15) * 0.01turn));
}

.progress.less.show .tracker-container {
  transform: rotate(calc((var(--i) + 15) * 0.01turn));
}
